
html{
    background-color: rgb(216, 237, 255);
}
.my-body *{
    color: black;
}

.cur {
    display: flex;
    justify-content: space-evenly;
}

.table{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.card{
    display: flex;
    flex-direction: column;
}


.set-name{
    margin-left: 5px;
    border: 3px solid grey;
    border-radius: 3px 3px 0px 0px;
    border-bottom: none;
    max-width: fit-content;
    padding-right: 5px;
    padding-left: 5px;
    color: black;
    background-color: white;
}

.tier-ou > .set-name{
    background-color: black;
    color: gold;
    border: 3px solid gold;
}

.tier-uber > .set-name{
    background-color: purple;
    color: gold;
    border: 2px solid gold;
}

.tier-uber > .set-container{
    border-color: purple;
}

.set-container{
    display: flex;
    flex-direction: column;
    border: 5px solid grey;
    border-radius: 3%;
    border-style: outset;
    padding: 8px;
    transition: all 0.3s;
}    

.set-container:hover{
    background-color: white;
}    

.top-half-container{
    display: flex;
}    

.top-left-container{
    display: flex;
    flex-direction: column;
}    

.top-right-container{
    flex-shrink: 0;
    width: 100px;
    height: 100px;
}    

.moves-container{
    display: flex;
    flex-direction: column;
}    

.export-container{
    display:none;
}    


