@import "wave.css";
body{
  font-family: Arial, Helvetica, sans-serif
}

.page_container *{
  color: white;
  padding: 15px;
  justify-content: center;
}

.page_container{
  display: flex;
  justify-content: space-between;
  height: 95vh;
  z-index: 5;
}

.side_panel{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-shrink: 0;
}

.button_container{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}

.middle_container{
  display: flex;
  flex-direction: column;
  flex-grow:1;
  align-items: center;
  justify-content: space-between;
}

.chat_container{
  font-family: 'Caveat', cursive;
  font-size: 2em;
}
.fish_container{
  justify-self: flex-end;
}

.title{
  text-align: center;
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
  text-decoration: bold;
  flex-shrink: 0;
}

button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 25px;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: all 0.3s;
  font-size: 1.5em;
  font-family: 'Loved by the King', cursive;
  white-space: nowrap;
}

button:hover {
  color: lightblue;
  background-color: transparent;
  text-decoration-color: lightblue;
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.is_bouncing{
  animation: bounce 0.1s infinite;
}

.has_border{
  border: 5px solid pink;
}
