@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Micro+5&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 1.05rem;

    transition: all 0.1s ease-in-out;
}

:root {
    --background: #222222;
    --accent: #E2B714;
    --grid: rgba(0, 0, 0, 0.107);
}


h1, .serif{
    color: var(--accent);
    font-size: 3.75rem;
    font-weight: normal;
    
}

.serif {
    font-family: "DM Serif Display", serif;
}

.micro{
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

body {
    background-color: var(--background);
    padding: 0px 9em;

    background-image: linear-gradient(var(--grid) .1em, transparent .1em), linear-gradient(90deg, var(--grid) .1em, transparent .1em);
    background-size: 3em 3em;

    background-attachment: fixed;
}

/* HEADER -------------------------------------------- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    margin-bottom: 90px;
    border-bottom: solid 2px white;

    position: sticky;
    top: 0;

    background-image: linear-gradient(var(--grid) .1em, transparent .1em), linear-gradient(90deg, var(--grid) .1em, transparent .1em);
    background-size: 3em 3em;
    background-color: var(--background);

}

header *{
    font-size: 1.5rem;
    list-style-type: none;
    text-decoration: none;

}

nav > ol{
    display: flex;
    gap: 50px;
}

a:hover{
    color: var(--accent);
}



/* LANDING-------------------------------- */
#landing p{
    font-size: 2rem;
}

#landing p, h1, h3{
    letter-spacing: 0.05em;
}

#landing{
    display: flex;
    justify-content: space-between;
}

#dog{
    width: 354px;
    height: 354px;
    align-self: flex-end;
    margin-bottom: 70px;
}



/* PROJECTS Selection----------------------------------------------- */


#project-types{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#project-types{
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    border: none;
    margin-bottom: 100px;
}

#project-types  *{
    font-size: 1.5rem;
}

legend{
    margin-bottom: 25px;
}

/* not chosen */
input[type="radio"] {
    display: none;
}

label{
    width: fit-content;
}

/* chosen */
label:has(input[type="radio"]:checked)::before, label:has(input[type="radio"]:hover)::before {
    content: ""; /* Necessary for generated content */
    display: inline-block; /* Treat the pseudo-element like an inline block */
    margin-right: 5px; /* Space between the triangle and the text */
    background-image: url('assets/yellow_triangle.svg');
    width: 13px;
    height: 26px;
    vertical-align: top;
}

label:has(input[type="radio"]:checked){
    color: var(--accent);
}

label:has(input[type="radio"]:hover){
    cursor: pointer;
}

/* PROJECTS---------------------------------------------------------------- */

h3{
    font-size: 2rem;
    margin-top: 45px;
    font-weight: 500;
}

h4{
    color: var(--accent);
    font-weight: normal;
    text-transform: uppercase;
}

.project-container {
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.project-container a {
    text-decoration: none;
}

.project-container li{
    flex-grow: 1;
    min-width: 400px;
    max-width: 560px;
    background-color: var(--background);
    min-height: 640px;
    border: 2px solid white;
    padding: 67px;
}

.project-container a{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-container img{
    align-self: center;
    max-width: 100%;
}

.project-container li:hover{
    border-color: var(--accent);
    cursor: pointer;
}

#res > li:hover, #mle > li:hover{
    cursor: not-allowed;
}

#res li{
    min-height: 320px;
}

#res img{
    align-self: flex-start;
}

/* FOOTER */

footer > ul{
    display: flex;
    list-style-type: none;
    gap: 13px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    border-top: solid 2px white;
    padding-top: 80px;
    padding-bottom: 80px;
}

footer a:hover svg path{
    fill:var(--accent);
}

/* about------------- */
#about {
    display: flex;
    gap: 33px;
    align-items: flex-start;
}

#about > *{
    flex: 1 1 0px;
}

#content-container{
    padding-right: 86px;
}

#headshot {
    object-fit: contain;
    max-width: 50%;
    vertical-align: top;
    border: 2px solid white;
}

#content-container > h3{
    margin-top: 34px;
    margin-bottom: 22px;
    margin-top: 80px;
}

/* #content-container > h3:nth-of-type(2){
} */

#content-container > ul{
    list-style-position: inside;
}


/* PRALLAASDFSA

body{
    display: grid;
    grid-template-areas: "stack";
}

.project-container {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
  }

*/
/* header{
    animation: parallax linear;
    animation-timeline: scroll();
}
@keyframes parallax {
  to {
    background-position-y: 0;
  }
}  */