.my-body{
    background-image: url("ice.jpg");
    background-size:clip;
    background-position: center top;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

* { box-sizing: border-box; }




.card {
  position: absolute;
  transition: transform 1s, opacity 1s;
}


.card:nth-child(1) { transform: rotateY(0deg) translateZ(288px); }
.card:nth-child(2) { transform: rotateY(12deg) translateZ(288px); }
.card:nth-child(3) { transform: rotateY(24deg) translateZ(288px); }
.card:nth-child(4) { transform: rotateY(36deg) translateZ(288px); }
.card:nth-child(5) { transform: rotateY(48deg) translateZ(288px); }
.card:nth-child(6) { transform: rotateY(60deg) translateZ(288px); }
.card:nth-child(7) { transform: rotateY(72deg) translateZ(288px); }
.card:nth-child(8) { transform: rotateY(84deg) translateZ(288px); }
.card:nth-child(9) { transform: rotateY(96deg) translateZ(288px); }
.card:nth-child(10) { transform: rotateY(108deg) translateZ(288px); }
.card:nth-child(11) { transform: rotateY(120deg) translateZ(288px); }
.card:nth-child(12) { transform: rotateY(132deg) translateZ(288px); }
.card:nth-child(13) { transform: rotateY(144deg) translateZ(288px); }
.card:nth-child(14) { transform: rotateY(156deg) translateZ(288px); }
.card:nth-child(15) { transform: rotateY(168deg) translateZ(288px); }
.card:nth-child(16) { transform: rotateY(180deg) translateZ(288px); }
.card:nth-child(17) { transform: rotateY(192deg) translateZ(288px); }
.card:nth-child(18) { transform: rotateY(204deg) translateZ(288px); }
.card:nth-child(19) { transform: rotateY(216deg) translateZ(288px); }
.card:nth-child(20) { transform: rotateY(228deg) translateZ(288px); }
.card:nth-child(21) { transform: rotateY(240deg) translateZ(288px); }
.card:nth-child(22) { transform: rotateY(252deg) translateZ(288px); }
.card:nth-child(23) { transform: rotateY(264deg) translateZ(288px); }
.card:nth-child(24) { transform: rotateY(276deg) translateZ(288px); }
.card:nth-child(25) { transform: rotateY(288deg) translateZ(288px); }
.card:nth-child(26) { transform: rotateY(300deg) translateZ(288px); }
.card:nth-child(27) { transform: rotateY(312deg) translateZ(288px); }
.card:nth-child(28) { transform: rotateY(324deg) translateZ(288px); }
.card:nth-child(29) { transform: rotateY(336deg) translateZ(288px); }
.card:nth-child(30) { transform: rotateY(348deg) translateZ(288px); }




.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
  background: hsla(0, 0%, 100%, 0.8);
}