*{
    margin: 0;
    padding: 0;
    border: none;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root{
  --button-background: rgba(44, 71, 112, 0.6);
  --button-checked-background: rgba(33, 50, 80, 0.9);
  --button-skip-background: rgba(255, 0, 0, 0.8);
  --button-submit-background: rgba(0, 155, 0, 0.8);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url('blue.jpg');
    background-clip: cover;
    background-position: center;
    transition: all 1s linear;
    animation-fill-mode: forwards; /* Ensures the end state persists */

    
/* background: radial-gradient(circle, rgba(131,227,255,1) 0%, rgba(158,255,223,1) 100%); */
}

@keyframes changeBackground {
    0% { background-image: url('blue.jpg');}
    50% { background-image: url('green.jpg'); }
    100% { background-image: url('blue.jpg');}
  }
  
  /* Animation class */
  .animate-background {
    animation-name: changeBackground;
    animation-duration: 1s; /* Adjust duration as needed */
  }

  @keyframes changeBackground2 {
    0% { background-image: url('blue.jpg');}
    50% { background-image: url('red.jpg'); }
    100% { background-image: url('blue.jpg');}
  }

  /* Animation class */
  .red-background {
    animation-name: changeBackground2;
    animation-duration: 2s; /* Adjust duration as needed */
  }
  @keyframes changeBackground3 {
    0% { background-image: url('blue.jpg');}
    50% { background-image: url('wrong_frame.jpg'); }
    100% { background-image: url('blue.jpg');}
  }
  /* Animation class */
  .wrong-background {
    animation-name: changeBackground3;
    animation-duration: 1s; /* Adjust duration as needed */
  }

#openBtn{
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-image: url('gear.svg');
}

.control-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.control-row > button{
    height: 50px;
    font-size: 16px;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.control-row > img{
    width: 48px; /* Set a fixed width for the buttons */
    height: 21px; 
    object-fit: cover;
}

.disappear{
    display: none;
}

#skip{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: var(--button-skip-background);
}

#submit{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: var(--button-submit-background)
}

#pokemon-img{
    min-height: 100px;
    max-height: 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
    width: 100%;
    
}
.type-button {
    margin: auto;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    overflow: hidden; /* Ensures no part of the image spills over the button's boundaries */

    background-color: var(--button-background);
    border: 1px solid lightsteelblue;
}
.type-button img {
    border: 4px outset steelblue;
    width: 64px; /* Set a fixed width for the buttons */
    height: 24px; 
    object-fit: cover; /* Ensures the image covers the button area without distorting aspect ratio */
}

.chosen{
    background-color: var(--button-checked-background);
    border: 1px solid white;
}

.chosen > img{
    border: 4px inset gray;
}

.modal {
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: fixed;
    margin: auto;
    }
  
  .modal header, .modal footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
  }
  
  .modal section {
    padding: 1em;
  }
  
  .modal section p {
    margin-top: 0;
  }
  
  label {
    display: block;
    margin: 0.5em 0;
  }
  
  .close {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  footer button {
    padding: 0.5em 1em;
    margin-right: 0.5em;
  }
  